button.ess,
submit.ess,
input[type="button"].ess,
input[type="submit"].ess {
  margin: 0;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 12px;
  font-weight: 700;
  overflow: visible;
  padding: 12px 42px;
  line-height: normal;
  text-align: justify;
  background: #DDDDDD;
  display: inline-block;
  -webkit-appearance: none;
  transition: 100ms all ease-in;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  font-family: 'Raleway', sans-serif;
}

button.ess:disabled,
submit.ess:disabled,
input[type="button"].ess:disabled,
input[type="submit"].ess:disabled {
  opacity: .5;
  cursor: not-allowed;
  box-shadow: none !important;
}