@import "./colors/mixins/colors-mixin";

button.ess,
submit.ess,
input[type="button"].ess,
input[type="submit"].ess {
  margin: 0;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 12px;
  font-weight: 700;
  overflow: visible;
  padding: 12px 42px;
  line-height: normal;
  text-align: justify;
  background: #DDDDDD;
  display: inline-block;
  -webkit-appearance: none;
  transition: 100ms all ease-in;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  font-family: 'Raleway', sans-serif;
}

button.ess:disabled,
submit.ess:disabled,
input[type="button"].ess:disabled,
input[type="submit"].ess:disabled {
  opacity: .5;
  cursor: not-allowed;
  box-shadow: none !important;
}

button.ess:hover,
submit.ess:hover,
input[type="button"].ess:hover,
input[type="submit"].ess:hover {
  background: darken(#DDDDDD, 10%);
}

@each $name, $hex in $colors {
  html input[type=submit].ess.bg-#{$name}:hover,
  html input[type=button].ess.bg-#{$name}:hover,
  html submit.ess.bg-#{$name}:hover,
  html button.ess.bg-#{$name}:hover {
    background: lighten($color: color($name), $amount: 8%) ;
  }
}

@each $name, $hex in $colors {
  html input[type=submit].ess.bg-flat-#{$name}:hover,
  html input[type=button].ess.bg-flat-#{$name}:hover,
  html submit.ess.bg-flat-#{$name}:hover,
  html button.ess.bg-flat-#{$name}:hover {
    background: #efefef;
  }
}

@each $name, $hex in $colors {
  html input[type=submit].ess.bg-border-#{$name}:hover,
  html input[type=button].ess.bg-border-#{$name}:hover,
  html submit.ess.bg-border-#{$name}:hover,
  html button.ess.bg-border-#{$name}:hover {
    background: transparent;
    color: lighten($color: color($name), $amount: 15%);
    border: solid 1px lighten($color: color($name), $amount: 15%) ;
  }
}