.ess.card {
  display: flex;
  flex-wrap: wrap;
  background: transparent;
}

// .ess.card .separator {
//   position: relative;
//   left: 20px;
//   width: calc(100% - 40px);
//   height: 1px;
//   background: rgba(200, 207, 219, 0.5);
// }

// .ess.card .header {
//   width: 100%;
//   display: flex;
//   padding: 16px 20px;
//   flex-direction: column;
// }

// .ess.card .header .title {
//   font-size: 18px;
//   color: #444444;
//   font-weight: bold;
//   position: relative;
//   line-height: normal;
// }

// .ess.card .header .subtitle {
//   font-size: 16px;
//   color: #89919F;
//   position: relative;
//   line-height: normal;
//   font-weight: normal;
// }

// .ess.card .body {
//   width: 100%;
//   display: flex;
//   padding: 16px 20px;
//   font-size: 14px;
//   // color: #89919F;
//   color: #444444;
//   font-weight: normal;
//   line-height: normal;
//   text-align: justify;
// }

// .ess.card .footer {
//   width: 100%;
//   display: flex;
//   padding: 16px 20px;
//   font-size: 14px;
//   color: #89919F;
//   font-weight: normal;
//   line-height: normal;
//   text-align: justify;
// }