$colors: (
  red: #E74C3C,
  orange: #F39C12,
  yellow: #F1C40F, 
  green: #2ECC71, 
  turquoise: #1ABC9C,
  // essencial-blue1: #19b5fe,
  // essencial-blue2: #22a7f0,
  // essencial-blue3: #6186FF,
  blue: #0084FF, 
  purple: #9B59B6, 
  dark-blue: #34495E, 
);

@function color($name) {
  @return map-get($colors, $name)
};

@each $name, $hex in $colors {
  .ess.font-#{$name} {
    color: color($name) !important;
  }
}

@each $name, $hex in $colors {
  .ess.bg-#{$name} {
    color: #FFFFFF;
    background: color($name);
  }
}

@each $name, $hex in $colors {
  .ess.bg-flat-#{$name} {
    color: color($name);
    background: transparent;
  }
}

@each $name, $hex in $colors {
  .ess.bg-border-#{$name} {
    color: color($name);
    background: transparent;
    border: solid 1px color($name) !important;
  }
}

@each $name, $hex in $colors {
  .ess.light-#{$name} {
    box-shadow: 0px 4px 16px rgba($hex, 0.5);
  }
}

@each $name, $hex in $colors {
  .ess.light-#{$name}-hover:hover {
    box-shadow: 0px 4px 16px rgba($hex, 0.5);
  }
}


