header.ess {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 80px;
  z-index: 0;
  padding-top: 15px;
  position: absolute;
  background: #FFFFFF;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-areas:  "a b"
}

header.ess.border {
  border-bottom: 1px solid #C8CFDB;
}

header.ess.shadow {
  box-shadow: 0px 4px 16px rgba(200, 207, 219, 0.75);
}

header.ess section nav ul {
  list-style: none;
}

header.ess .left-section {
  grid-area: a;
  width: 100%;
  height: 100%;
}

header.ess .right-section {
  grid-area: b;
  width: 100%;
  height: 100%;
}

header.ess .item {
  height: 100%;
  display: inline-block;
  padding: 0 20px;
  align-items: center;
  justify-content: center;
  background: transparent;
}

header.ess .item a {
  font-size: 14px;
  color: #89919F;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  text-decoration: none;
  transition: all 150ms ease-in-out;
}

header.ess .item a:hover {
  // color: #444444;
  color: #0084FF;
}

header.ess .item .title {
  font-size: 14px;
  color: #444444;
  font-weight: bold;
  font-style: normal;
  text-align: center;
  line-height: normal;
}