.ess.radio {
  font-weight: 700;
  user-select: none;
  position: relative;
  display: inline-block;
  font-family: 'Raleway', sans-serif;
}

.ess.radio > input[type=radio] {
  left: -99999px;
  position: absolute;
}

.ess.radio > input[type=radio] + label {
  cursor: pointer;
  font-size: 14px;
  padding-left: 28px;
}

.ess.radio > input[type=radio] + label:before {
  top: 0;
  left: 0;
  content: '';
  width: 20px;
  height: 20px;
  transition: .15s;
  position: absolute;
  border-radius: 100%;
  display: inline-block;
  border: 2px solid #000000;
}

.ess.radio > input[type=radio]:checked + label:before {
  transition: .2s;
}

.ess.radio > input[type=radio] + label:after {
  top: 4px;
  left: 4px;
  opacity: 0;
  content: '';
  width: 12px;
  height: 12px;
  position: absolute;
  border-radius: 100%;
  display: inline-block;
  background: #000000;
}

.ess.radio > input[type=radio]:checked + label:after {
  opacity: 1;
  animation: pulse 500ms forwards ease-in-out;
}

@keyframes pulse {
  0%   {transform: scale(0);}
  50%  {transform: scale(1.8);}
  75%  {transform: scale(0.8);}
  100% {transform: scale(1);}
}