$corners: (
  s3: 3px,
  s6: 6px,
  s9: 9px,
  s12: 12px,
);

@function corner($size) {
  @return map-get($corners, $size);
};

html .ess.pill {
  border-radius: 9999px;
}

@each $corner, $size in $corners {
  html .ess.rounded-#{$corner} {
    border-radius: corner($corner);
  }
}
