@import "./mixins/colors";
@import "./mixins/checkers";

.ess.switch {
  margin: 0 10px;
  font-weight: 500;
  user-select: none;
  position: relative;
  padding-left: 48px;
  display: inline-block;
}

.ess.switch label {
  cursor: pointer;
  font-size: 14px;
  vertical-align: middle;
}

.ess.switch input[type=checkbox] {
  margin: 0;
  content: '';
  outline: none;
  cursor: pointer;
  transition: .15s;
  appearance: none;
  border: 2px solid #444444;
  @include checker(40px, 20px, 0, 0, 100px);
}

.ess.switch input[type=checkbox]::after {
  content: '';
  background: #333333;
  @include checker(12px, 12px, 2px, 2px, 100px);
  animation: uncheck-switch 150ms forwards ease-in-out;
}

.ess.switch input[type=checkbox]:checked::after {
  animation: check-switch 150ms forwards ease-in-out;
}

@keyframes check-switch {
  0%   {left: 8px; width: 12px;}
  50%   {left: 12px; width: 20px;}
  100%  {left: 22px; width: 12px;}
}

@keyframes uncheck-switch {
  0%   {left: 22px; width: 12px;}
  50%   {left: 12px; width: 20px;}
  100%  {left: 2px; width: 12px;}
}

@each $name, $hex in $colors {
  .ess.switch input[type=checkbox].fill-#{$name} {
    background: transparent;
    border: 2px solid color($name);
  }

  .ess.switch input[type=checkbox].fill-#{$name}:checked {
    background: color($name);
    border: 2px solid color($name);
  }

  .ess.switch input[type=checkbox].fill-#{$name}::after {
    background: color($name);
    border: 2px solid color($name);;
  }

  .ess.switch input[type=checkbox].fill-#{$name}:checked::after {
    background: #FFFFFF;
    border: 2px solid #FFFFFF;
  }
 
  .ess.switch input[type=checkbox].fill-#{$name}.illuminate:checked {
    box-shadow: 0px 4px 16px rgba(color($name), 0.75);
  }
}