*, *:before, *:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;

}

@import "./vendor/button";
@import "./vendor/input-text";
@import "./vendor/checkbox";
@import "./vendor/select";
@import "./vendor/radio";
@import "./vendor/switch";

@import "./vendor/borders";

@import "./vendor/typography";
// @import "./vendor/input-text";
// @import "./vendor/checkbox";
// @import "./vendor/forms/switch";
// @import "./vendor/card";
@import "./vendor/popover";
@import "./vendor/nav_header";
@import "./vendor/side_nav";
@import "./vendor/avatar";
