{
  // "plugins": [
  //   ["transform-builtin-extend", {
  //     "globals": ["Error"],
  //     "approximate": true
  //   }]
  // ],
  // "presets": [
  //   ["env", { "modules": "commonjs" }]
  // ]
}
