@import "./mixins/checkers";

.ess.radio {
  margin: 0 10px;
  font-weight: 500;
  user-select: none;
  padding-left: 25px;
  position: relative;
  display: inline-block;
}

.ess.radio input[type=radio] {
  margin: 0;
  content: '';
  outline: none;
  transition: .15s;
  appearance: none;
  border: 2px solid #444444;
  @include checker(20px, 20px, 0, 0, 100%);
}

.ess.radio input[type=radio]:checked {
  transition: .2s;
}

.ess.radio input[type=radio]::after {
  opacity: 0;
  content: '';
  background: #333333;
  @include checker(12px, 12px, 2px, 2px, 100%);
}

.ess.radio input[type=radio]:checked::after {
  opacity: 1;
  animation: pulse 500ms forwards ease-in-out;
}

.ess.radio label {
  cursor: pointer;
  font-size: 14px;
  vertical-align: middle;
}

@keyframes pulse {
  0%   {transform: scale(0);}
  50%  {transform: scale(1.8);}
  75%  {transform: scale(0.8);}
  100% {transform: scale(1);}
}
